{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add a New Message {% endblock %}</h1>
<form method="post">
    <br>
    <input type="text" name="first-name" placeholder="First Name" value="{{ request.form['first-name'] }}"></input>
    <br>
    <input type="text" name="ping-google" placeholder="Ping Google" value="{{ request.form['ping-google'] }}"></input>
    <br>
    <button type="submit">Submit</button>
</form>
{% for message in messages %}
<div class='message'>
    <h1>{{ message['first-name'] }}</h1>
</div>
{% endfor %}
{% endblock %}