{% extends 'base.html' %}
{% block content %}
<h1> Run Shell Commands  </h1>


 <div id="container">

   <table style="display:none">
     <thead>
       <tr>
         <th>Host</th>
         <th>Name</th>
         <th>ID</th>
       </tr>
     </thead>

     <tbody></tbody>
   </table>

 </div>
 <script>

  var json = [{
     host: "Some host IP",
     name: "Some name",
     id: 345
   },
   {
     host: "Some other host IP",
     name: "Some other name",
     id: 987
   }
 ];

 var $container = $("#container");
 var $thead = $("#container table thead");
 var $tbody = $("#container table tbody");
 var $row = $("#container table tbody tr");

 // Loop through items in JSON data..
 json.forEach(function(item) {
   var $button = $("<button>" + item.host + "</button>");
   $container.prepend($button);

     // Button click handler..
   $button.on("click", function() {
     // Replace row HTML..
     $row.html('<td>' + item.host + '</td>' + '<td>' + item.name + '</td>' + '<td>' + item.id + '</td>');

     // Show table if it's not already visible..
     $("#container table").show();

   });
 });

 </script>
{% endblock %}